@use "../../index.scss" as *;

.popBanner {
  z-index: 10000;
  background: $color2;
  border-bottom: 1px solid rgb(197, 197, 197);
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bannerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
span.bannerContent {
  color: $color3;
  font-size: 12px;
}
