@use "../../index.scss" as *;

.sliderContainer {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
}

.empty {
  position: relative;
  width: 30%;
  max-height: 50vh;
  background: #fdffde;
}

.sliderImg {
  width: 70%;
  max-height: 50vh;
  object-fit: cover;
  filter: saturate(40%);
}

.sliderTextContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 50%;
    background: #fdffde;
    transform: translate(-50%, -50%);
    z-index: -1; /* Met le pseudo-élément derrière le contenu */
  }
}

.title {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 7px;
  color: $black;
}
.tagLine {
  color: $color3;
  font-weight: 500;
  margin: 20px 0;
}
.btnCTA {
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 100;
  transition: 0.15s ease;
  background: linear-gradient(
    164deg,
    #f9f7f9 0%,
    #fffff0 59%,
    #f9f7f9 99%,
    #ffffff 100%
  );
  &:hover {
    transform: scale(1.05);
  }
}

.nosProduits {
  margin: 40px;
}
.sectionTitle {
  font-size: 24px;
  font-weight: 200;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 20px;
}

@media screen and (min-width: 600px) {
  .cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 20px;
  }
  .title {
    font-size: 46px;
  }
}
@media screen and (min-width: 1024px) {
  .cardContainer {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
  }
}
