@use "../../index.scss" as *;

.card {
  position: relative;
  background: $color2;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 5px;
  max-height: 230px;
  min-width: 170px;
  & img {
    width: 100%;
    max-height: 70%;
    overflow: hidden;
    filter: saturate(40%);
    object-fit: cover;
    &:hover {
      filter: none;
    }
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 12px;
  height: 64.25px;
  font-size: 12px;
}
